<style>
.admonition {
    padding: 1em;
    margin-bottom: 1em;
    border-left: 1em solid transparent;
}

.admonition .admonition-title {
    margin: 0;
    text-transform: uppercase;
    padding-left: 3px;
    border: 1px solid;
    border-style: hidden hidden solid;
}
.admonition-title::before { content: '# '; }

.admonition-content {
    padding-left: .75em;
    padding-right: .75em;
    padding-top: 0.5em;
    margin-left: 0;
    border-left: 0;
    border-top: 0;
    min-height: 0;
    color: black;
}

.note {
    border-color: olive;
    background-color: #f6fffe;
}

.note .admonition-title {
    color: olive;
    border-color: olive;
}

.tip {
    border-color: blue;
    background-color: #f6fcff;
}

.tip .admonition-title {
    color: blue;
    border-color: blue;
}

.warning {
    border-color: orange;
    background-color: #fffeec;
}

.warning .admonition-title {
    color: orange;
    border-color: orange;
}

.important {
    border-color: red;
    background-color: #fffbfb;
}

.important .admonition-title {
    color: red;
    border-color: red;
}

</style>

<div class="admonition {{ index .Params 0 }}">
	<div class="admonition-title">{{ index .Params 0 | humanize }}</div>
	<div class="admonition-content">{{ .Inner | markdownify }}</div>
</div>
